<script type="text/javascript" src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- jQuery Cookie -->
<script src="__CDN__/assets/addons/leescore/js/jquery.cookie.min.js"></script>

<!-- Jquery.touchSwipe -->
<script src="__CDN__/assets/addons/leescore/js/jquery.touchSwipe.min.js"></script>

<script src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js"></script>
<script src="__CDN__/assets/addons/leescore/js/cart.js"></script>
<script src="__CDN__/assets/addons/leescore/js/wow.min.js"></script>

<!-- 实例化动画组件 -->
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        offset: 0,
        mobile: true,
        live: true
    });
    wow.init();
</script>